[Unit]
Description=Port Collector Timer
After=network.target

[Timer]
OnBootSec=10
OnUnitActiveSec=10
AccuracySec=1
Unit=collect-ports.service

[Install]
WantedBy=timers.target
